<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        background-color: rgb(13, 236, 236);
      }
      .TeamName {
        text-align: center;
        font-size: 60px;
        color: crimson;
      }
      .giphy {
        text-align: center;
      }
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NoLogic</title>
  </head>
  <body>
    <div class="TeamName">We are NoLogic</div>
    <div class="giphy">
      <iframe
        src="https://giphy.com/embed/TiIpsBdUgmvPis8K2r"
        width="480"
        height="480"
        frameborder="0"
        class="giphy-embed"
        allowfullscreen
      ></iframe>
      <p>
        <a
          href="https://giphy.com/gifs/EdMyletMaxout-facebook-marketing-growth-hacker-rohan-sheth-TiIpsBdUgmvPis8K2r"
        ></a>
      </p>
    </div>
  </body>
</html>
